<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<style>
.mySlides {
display:none;
width: 100% !important;
height: 100% !important;

opacity: {{ block.settings.image_overlay_opacity}}
}
</style>



{% assign blocks = section.blocks | where: 'type', 'slide' %}
{% for block in blocks %}
  <div class="slide-container">
    {% if block.settings.image != blank %}
      <a href="{{ block.settings.link }}">
        {{ block.settings.image | image_url: width: 1000 | image_tag: class: 'mySlides' }}
      </a>
    {% endif %}
  </div>
{% endfor %}


<button class="w3-button w3-black w3-display-left" onclick="plusDivs(-1)">&#10094;</button>
  <button class="w3-button w3-black w3-display-right" onclick="plusDivs(1)">&#10095;</button>

<script>
var slideIndex = 1;
showDivs(slideIndex);

function plusDivs(n) {
  showDivs(slideIndex += n);
}

function showDivs(n) {
  var i;
  var x = document.getElementsByClassName("mySlides");
  if (n > x.length) {slideIndex = 1}
  if (n < 1) {slideIndex = x.length}
  for (i = 0; i < x.length; i++) {
    x[i].style.display = "none";  
  }
  x[slideIndex-1].style.display = "block";  
}
</script>
