<style>
.slider {
  position: relative;
}

.slides {
  display: flex;
}

.slide-container {
  flex: 0 0 auto;
}

.slide-container img {
  width: 100%; /* Adjust to make the image fill the container */
  height: auto;
  border: 0;
}

.prev,
.next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  cursor: pointer;
  padding: 10px;
  z-index: 1;
}

.prev {
  left: 0;
}

.next {
  right: 0;
}
</style>

{% assign blocks = section.blocks | where: 'type', 'slide' %}
<div class="slider">
  <div class="slides">
    {% for block in blocks %}
      <div class="slide-container">
        {% if block.settings.image != blank %}
          <a href="{{ block.settings.link }}">
            <img src="{{ block.settings.image | img_url: '800x400' }}" alt="Slider Image">
          </a>
        {% endif %}
      </div>
    {% endfor %}
  </div>
  <button class="prev" onclick="plusSlides(-1)">&#10094;</button>
  <button class="next" onclick="plusSlides(1)">&#10095;</button>
</div>


<script>
var slideIndex = 1;
showSlides(slideIndex);

function plusSlides(n) {
  showSlides(slideIndex += n);
}

function showSlides(n) {
  var i;
  var slides = document.getElementsByClassName("slide-container");
  if (n > slides.length) {slideIndex = 1}    
  if (n < 1) {slideIndex = slides.length}
  for (i = 0; i < slides.length; i++) {
      slides[i].style.display = "none";  
  }
  slides[slideIndex-1].style.display = "block";  
}
</script>

