{% assign blocks = section.blocks | where: 'type', 'slide' %}
{% for block in blocks %}
  <div class="slide-container">
    {% if block.settings.image != blank %}
      <a href="{{ block.settings.link }}">
        <img src="{{ block.settings.image | img_url: '500x500' }}" style="opacity: {{ block.settings.image_overlay_opacity }}%;">
      </a>
    {% else %}
      <img src="placeholder_image_url" alt="Placeholder Image">
    {% endif %}
  </div>
{% endfor %}
