<style>
.slider {
  position: relative;
}

.slides {
  display: flex;
  position: relative;
}

.slide-container {
  flex: 0 0 100%; /* Adjust to make each slide take up the full width */
  position: relative;
}

.slide-container img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ensures images fill their container while maintaining aspect ratio */
  border: 0;
}

.prev,
.next {
  position: absolute;
  top: 35%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  cursor: pointer;
  padding: 10px;
  font-size: 20px; /* Adjust font size to make arrow buttons larger */
  z-index: 1;
}

.prev {
  left: 10px; /* Adjust the left position for the previous button */
}

.next {
  right: 10px; /* Adjust the right position for the next button */
}
</style>



{% assign blocks = section.blocks | where: 'type', 'slide' %}
<div class="slider">
  <div class="slides">
    {% for block in blocks %}
      <div class="slide-container">
        {% if block.settings.image != blank %}
          <a href="{{ block.settings.link }}">
            <img src="{{ block.settings.image | img_url: '1800x1800' }}" alt="Slider Image">
          </a>
        {% endif %}
      </div>
    {% endfor %}
  </div>
  <button class="prev" onclick="plusSlides(-1)">&#10094;</button>
  <button class="next" onclick="plusSlides(1)">&#10095;</button>
</div>


<script>
var slideIndex = 1;
showSlides(slideIndex);

function plusSlides(n) {
  showSlides(slideIndex += n);
}

function showSlides(n) {
  var i;
  var slides = document.getElementsByClassName("slide-container");
  if (n > slides.length) {slideIndex = 1}    
  if (n < 1) {slideIndex = slides.length}
  for (i = 0; i < slides.length; i++) {
      slides[i].style.display = "none";  
  }
  slides[slideIndex-1].style.display = "block";  
}
</script>

