.product {
    z-index: 2;
    position: relative;
}

/* Modal container */
#quick-view-modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1000; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0, 0, 0, 0.4); /* Black with opacity */
}

/* Modal content */
.modal-content {
    background-color: #fefefe;
    margin: 5% auto; /* Centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Adjust as needed */
    display: flex; /* Use flexbox for layout */
    flex-direction: row; /* Horizontal layout */
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    border-radius: 8px;
}

/* Product image */
.product-media img {
    width: 100%; /* Full width */
    height: auto;
    object-fit: cover;
    max-width: 300px; /* Limit max width */
    margin-right: 20px; /* Space between image and details */
    width: 100%; /* Full width */
    height: auto;
    object-fit: cover;
    max-width: 100%; /
}

/* Product details */
.pro-information {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
    
}

/* Close button */
.close-button {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close-button:hover,
.close-button:focus {
    color: black;
    text-decoration: none;
}

/* Variant options */
.option-Size, .option-Color, .option-Material {
    margin-bottom: 10px;
}

.option-Size h6, .option-Color h6, .option-Material h6 {
    margin: 0 0 5px;
    font-weight: bold;
}

.option-Size label, .option-Color label, .option-Material label {
    display: inline-block;
    margin-right: 10px;
}

/* Quantity input */
#quantity {
    width: 60px;
    margin-bottom: 20px;
}

/* Add to cart button */
#add-to-cart-button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
}

#add-to-cart-button:hover {
    background-color: #45a049;
}

/* Product description */
.product-description {
    margin-top: 20px;
}

.product-description p {
    margin: 0;
}
